@tailwind base;
@tailwind components;
@tailwind utilities;

.input-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.error {
  border-color: red;
}

.error-message {
  color: red;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  font-size: 14px;
  font-weight: 700;
}

input::placeholder,
textarea::placeholder {
  color: red;
}
